[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4

[*.{kt,kts}]
ktlint_code_style = android_studio
max_line_length = off
ktlint_standard_indent = disabled
ktlint_standard_trailing-comma-on-call-site = disabled
ktlint_standard_argument-list-wrapping = disabled
ktlint_standard_function-signature = disabled
ktlint_standard_trailing-comma-on-declaration-site = disabled
ktlint_standard_max-line-length = disabled
ktlint_standard_class-signature = disabled
ktlint_standard_function-literal = disabled
ktlint_standard_binary-expression-wrapping = disabled
ktlint_standard_function-expression-body = disabled
ktlint_standard_parameter-list-wrapping = disabled
ktlint_standard_wrapping = disabled
ktlint_standard_property-wrapping = disabled
ktlint_standard_enum-wrapping = disabled
ktlint_standard_multiline-if-else = disabled
ktlint_standard_import-ordering = disabled
ktlint_function_naming_ignore_when_annotated_with = Composable
ktlint_standard_function-naming = disabled
compose_allowed_composition_locals = LocalSnackbarController
